* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}  

body {
  background-color: #0AABBA;
}

.main-page {
  width: 100%;
}

.question-timer-container {
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.question-timer {
  height: 120px;
  width: 120px;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-timer > p {
  font-weight: bold;
  font-size: 16px;
}

.divPai {
  height: 100%;
  background-color: #fff ;
  padding: 100px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  margin: 50px;
  border-radius: 45px;
}

.divPergunta {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
}

.textPergunta {
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 24px;
}

.textDesc {
  width: 100%;
  color: #0AABBA;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 0.7px black; /* Largura e cor da borda */
}

.divImagem {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

img {
  height: 300px;
  width: 300px;
}

.divAlternativas {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.textAlternativa {
  width: 100%;
  padding: 15px 0;
  outline: none;
  border: 3px solid #0AABBA;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;  
  text-align: left;
  padding: 20px;
}

.buttons-container {
  width: 100%;
  height: 50px;
}

.botaoAvancar {
  width: 30%;
  height: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: white;
  font-weight: bold;  
  cursor: pointer;
  margin-right: 10px;
}

.botaoAvancar:hover {
  background-color: rgba(0, 0, 0, 0.839);
}

.botaoClassificacao {
  width: 30%;
  height: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.botaoClassificacao:hover {
  background-color: rgba(0, 0, 0, 0.839);
}

footer {
  width: 100%;
}