* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0AABBA;
}

.divPai {
  min-height: 100vh;
  background-color: white ;
  color: rgb(0, 0, 0);
  padding: 100px;
  text-align: left; 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 50px;
  border-radius: 45px;
}

.classificationDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
