* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}  

body {
    background-color: #0AABBA;
}

.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.question-container {
    width: 80%;
}

.timers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.total-timer {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.question-timer {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPai {
    height: 100%;
    background-color: #fff ;
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin: 30px;
    border-radius: 30px;
}

.divPergunta {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.textPergunta {
    width: 100%;
    color: #000;
    font-size: 24px;
}

.divImagem {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateY(-150%);
  
}

.divAlternativas {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.textAlternativa {
    width: 100%;
    padding: 15px 0;
    outline: none;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;  
    text-align: left;
    padding: 1px;
}

.divBotoes {
    width: 30%;
    height: 50px;
}

.botaoAvancar {
    width: 110px;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;  
    padding: 10px;
    cursor: pointer;
}

.botaoResposta {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    background-color: #000;
    color: white;
    font-weight: bold;  
    cursor: pointer;
}

.botaoResposta:hover {
    background-color: rgba(0, 0, 0, 0.839);
}

footer {
    bottom: 0;
    display: flex;
}

#schoolList {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.classificationDiv {
    width: 120px;
    height: 120px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0 0 50% 50%;
    border: 7px solid rgba(255, 217, 0, 0.978);
    background-color: #f82727;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-right: 50px;
    box-shadow: 0px 0px 36px 31px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.classificationSpan {
    width: 40px;
    height: 40px;
    background-color: green;
    position: absolute;
    margin-left: 8%;
    margin-top: -3%;
    border-radius: 50%;
    display: none;
}