* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}  

body {
    background-color: #0AABBA;
}

.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-container {
    width: 80%;
}

.timers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.total-timer {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.question-timer {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPai {
    height: 100%;
    background-color: #fff ;
    padding: 100px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin: 50px;
    border-radius: 45px;
}

.divPergunta {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
}

.textPergunta {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.divImagem {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    flex-direction: row;
}

img {
    height: 300px;
    width: 300px;
}

.divAlternativas {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.textAlternativa {
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: 3px solid #0AABBA;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;  
    text-align: left;
    padding: 20px;
}

.divBotoes {
    width: 30%;
    height: 50px;
}

.botaoAvancar {
    width: 110px;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;  
    padding: 10px;
    cursor: pointer;
}

.botaoResposta {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    background-color: #000;
    color: white;
    font-weight: bold;  
    cursor: pointer;
}

.botaoResposta:hover {
    background-color: rgba(0, 0, 0, 0.839);
}

footer {
    bottom: 0;
    display: flex;
}