* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}  

body {
    background-color: #0AABBA;
}

.divPai {
    min-height: 100vh;
    background-color: #ffffff ;
    color: rgb(0, 0, 0);
    padding: 100px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin: 50px;
    border-radius: 45px;
}
.divPergunta {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
}

.textPergunta {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 24px;
    /* font-weight: bold; */
}

.divImagem {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    flex-direction: row;
}

img {
    height: 300px;
    width: 300px;
    /* padding: 10px; */
}

.divAlternativas {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.textAlternativa {
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: 3px solid #0AABBA;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;  
    text-align: left;
    padding: 20px;
}

.divBotoes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.botaoAvancar {
    width: 110px;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;  
    padding: 10px;
    cursor: pointer;
}

.botaoResposta {
    width: 110px;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;  
    padding: 2px;
    cursor: pointer;
}

footer {
    bottom: 0;
    display: flex;
}